* { margin:0; padding:0;}

li {list-style: none;}
a {text-decoration: none;}

.container {
    margin: 0 auto;
}

.header {
    height: 200px;
}
.header h1 {
    text-align: center;
    height: 200px;
}

.nav {
    background-color: rgba(0,0,0,.9);
}
.nav .menu {
    width: 750px;
    height: 60px;
    margin: 0 auto;
}
.nav .menu li {
    float: left;
    
}
.nav .menu li a{
    width: 150px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.section {}
.content { height: 800px; background-position: center; /* background-attachment: fixed; */}

#section01{ background: url(../images/image01.jpg); background-size: cover; }
#section02{ background: url(../images/image02.jpg); background-size: cover; }
#section03{ background: url(../images/image03.jpg); background-size: cover; }
#section04{ background: url(../images/image04.jpg); background-size: cover; }
#section05{ background: url(../images/image05.jpg); background-size: cover; }

.footer {
    height: 500px;
    text-align: center;
    padding: 50px 0;
}

/* 기능을 위한 스타일 */

.nav { position: absolute; width: 100%; }

.nav.fixed { 
    position: fixed; top: 0; left: 0; 
    width: 100%;
    background-color: rgba(0,0,0,.6);
}

.nav .menu li a.active {
    background-color: #c13333;
}